@use './variables' as *;

@mixin fade-in($duration: $duration-normal, $easing: $ease-in-out-cubic, $delay: $delay-none, $fill: $fill-both) {
  animation: ease-kf-fade-in $duration $easing $delay $fill;
}
@mixin fade-out($duration: $duration-normal, $easing: $ease-in-out-cubic, $delay: $delay-none, $fill: $fill-both) {
  animation: ease-kf-fade-out $duration $easing $delay $fill;
}
@mixin slide-up($duration: $duration-normal, $easing: $ease-in-out-cubic, $delay: $delay-none, $fill: $fill-both) {
  animation: ease-kf-slide-up $duration $easing $delay $fill;
}
@mixin slide-down($duration: $duration-normal, $easing: $ease-in-out-cubic, $delay: $delay-none, $fill: $fill-both) {
  animation: ease-kf-slide-down $duration $easing $delay $fill;
}
@mixin zoom-in($duration: $duration-normal, $easing: $ease-out-cubic, $delay: $delay-none, $fill: $fill-both) {
  animation: ease-kf-zoom-in $duration $easing $delay $fill;
}
@mixin zoom-out($duration: $duration-normal, $easing: $ease-in-cubic, $delay: $delay-none, $fill: $fill-both) {
  animation: ease-kf-zoom-out $duration $easing $delay $fill;
}
